/* general */
body {
    background-color: ghostwhite;
    margin: 0px;
}

/* headline */
#headline {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    text-align: center;
}

#quotegenerator {
    text-shadow: 2px 2px;
    font-size: 100px;
    margin-bottom: 0px;
}

/*quote generator*/
#quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#quotebutton {
   background-color: blue;
   color: yellow;
   padding: 20px;   
   font-size: xx-large;
   box-shadow: 4px 4px 4px gray;
   margin-left: 600px;
   margin-right: 600px;
   margin-top: 80px;
}

#quotebutton:hover {
    color: gold;
}

#quotebutton:active {
    transform: translateY(2px);
}

@media only screen and (max-width: 1368px) {
        #quotebutton {
            margin-right: 400px;
            margin-left: 400px;
        }
        #quoteDisplay {
            font-size: 15px;
            line-height: 25px;
        }

@media only screen and (max-width: 1186px) {
    #quotebutton {
        margin-right: 400px;
        margin-left: 400px;
    }
    #quoteDisplay {
        font-size: 20px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 895px) {
    #quotebutton {
        margin-right: 400px;
        margin-left: 400px;
    }
    #quoteDisplay {
        font-size: 20px;
        line-height: 25px;
    }
}  

@media only screen and (max-width: 600px) {
    #quotebutton {
        margin-right: 400px;
        margin-left: 400px;
    }
    #quoteDisplay {
        font-size: 20px;
        line-height: 25px;
    }
    }
}

#quoteDisplay{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 300px;
    margin-right: 300px;
    color: black;  
    line-height: 50px;
    font-weight: bolder;
}